table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    content: '\2714';
    margin-top: -6px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9, -1px 1px #b0bed9;
}
table.dataTable tbody td.select-checkbox:before, table.dataTable tbody td.select-checkbox:after, table.dataTable tbody th.select-checkbox:before, table.dataTable tbody th.select-checkbox:after {
    display: block;
    position: absolute;
    top: 1.2em;
    left: 50%;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #eff1f5;
}
table.dataTable tbody td.select-checkbox, table.dataTable tbody th.select-checkbox {
    position: relative;
    right: 7px;
}
.required-star{
    color:red;
}
